<div id="lower-menu" class="std-box">
  <div><%= link_to "Go back home", home_path %></div>
  <div id="turn-player">
    <%= @white_to_move ? "White" : "Black" %> to move
  </div>
  <div>Black: <%= @black_player.email rescue "" %></div>
  <div>White: <%= @white_player.email rescue "" %></div>
</div>