<div class="board-filter">
  <div class="promotion-prompt">
    <div id="2" class="promote-button">
      <img src="http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bn.png">
    </div>
    <div id="3" class="promote-button">
      <img src="http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bb.png">
    </div>
    <div id="4" class="promote-button">
      <img src="http://images.chesscomfiles.com/chess-themes/pieces/neo/96/br.png">
    </div>
    <div id="5" class="promote-button">
      <img src="http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bq.png">
    </div>
  </div>
</div>