<div id="home-menu-wrapper">
	<div id="home-menu-container">
		<div id="title">
			My Online Chess
		</div>
		<div id="home-menu">
			<div id="play">
				<%= link_to new_path do %>
					<div id="sinlge-player" class="home-button">
						Single Player
					</div>
				<% end %>
				<%= link_to new_path do %>
					<div id="multiplayer" class="home-button">
						Multiplayer
					</div>
				<% end %>
			</div>
			<%# unless current_user %>
				<div id="begin-session" class="home-button">
					Sign In or Sign Up
				</div>
			<%# end %>
		</div>
	</div>
</div>

<style>
	body {
		background-color: #EEEED2;
	}
</style>