<div class="my-wrapper">
	<div class="new-game-container">
		<div>
			<div class="choose-an-opponent">
				<em>Find an Oppenent!</em>
			</div>
			<div class="new-multiplayer-game chess-button">
				Create
			</div>
			<div class="new-multiplayer-game chess-button">
				Join
			</div>			
		</div>
		<%= link_to home_path do %>
			<div class="back-home-button">
				Go Back Home
			</div>
		<% end %>
	</div>

</div>