<div class="my-wrapper">
	<% if @lobbies.empty? %>
		<div class="choose-an-opponent">
			<div>No games in the lobby...</div>
			<div><%= link_to "Create one!", lobbies_path, method: :post %></div>
		</div>
	<% else %>
		<% @lobbies.each do |lobby| %>
			<div><%= link_to "#{lobby.name}", lobby_path(lobby) %></div>
		<% end %>
	<% end %>

	<%= render "layouts/back_home" %>
</div>

<div>
	<h1>Hello?</h1>
</div>