<div class="my-wrapper">
	<div class="new-game-container">
		<div>
			<div class="choose-an-opponent">
				<em>Find an Oppenent!</em>
			</div>
			<%= link_to lobbies_path, method: :post do %>
				<div class="new-multiplayer-game chess-btn">
					Create
				</div>
			<% end %>
			<%= link_to lobbies_path do %>
				<div class="new-multiplayer-game chess-btn">
					Join
				</div>			
			<% end %>
		</div>
		<%= link_to home_path do %>
			<div class="back-home-button chess-btn">
				Go Back Home
			</div>
		<% end %>
	</div>

</div>