.std-box {
	margin: 10px 0;
	padding: 10px;
	background-color: lightgrey;
}

.my-wrapper {
	max-width: 600px;
	height: 100vh;
	margin: 0 auto;
}

html {
	@media (min-width: 800px) {
		body {
			padding: 10px;
		}
	}
}

a {
	&:hover {
		text-decoration: none;
	}
}

body {
	background-color: #EEEED2;
}

$max-board-size: 800px;
$min-side-menu-size: 400px;

$chess-white: #EEEED2;
$chess-black: #769656;

$chess-white-highlight: #F7F783;
$chess-black-highlight: #BACB44;

$border-radius: 2px;