#home-menu-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#title {
	color: $chess-black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	width: 320px;
	margin: 8% auto 0 auto;
	height: 20%;
}

#home-menu {
	max-width: 600px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 8% 0 20% 0;
}

#play {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#signed-in-as {
	margin: 0 20px;
	margin-top: 15px;
	color: rgb(40, 40, 40);
	font-size: 18px;
}