#home-menu-wrapper {
	max-width: 600px;
	height: 100vh;
	margin: 0 auto;
}

#home-menu-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#title {
	color: $chess-black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	width: 320px;
	margin: 8% auto 0 auto;
	height: 20%;
}

#home-menu {
	max-width: 600px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 8% 0 25% 0;
}

#play {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home-button {
	padding: 10px;
	margin: 10px 20px;
	height: 10vh;

	background-color: $chess-black;
	text-align: center;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: $border-radius;

	color: rgb(240, 240, 240);
	font-size: 30px;
	font-weight: bold;
}