.choose-an-opponent {
	color: $chess-black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	width: 320px;
	padding-top: 8%;
	margin: 0 auto 12% auto;
	height: 20%;
}

.new-game-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	min-height: 100vh;
}

#engine-choice {
	width: 75%;
	margin: 0 auto;
}

.choose-engine {
	margin: 10px 0;
}

.engine-name {
	color: rgb(50, 50, 50);
	font-size: 28px;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
	i {
		margin-right: 10px;
	}
}

.engine-description {
	ul {
		margin: 0;
	}
}

.hide-this {
}

.choose-color-modal-filter {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.4);
	display: none;
}

.choose-color-modal {
	position: absolute;
	top: 20vh;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#close-modal {
	position: absolute;
  top: 15px;
  right: 20px;
 }

#choose-color-title {
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-size: 18px;
	color: $chess-black;
	font-weight: bold;

	margin-bottom: 10px;
}

#color-choices {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.choose-color {
	height: 96px;
	width: 96px;
	margin: 10px;
}

#choose-white {
	background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wp.png");
	background-color: $chess-black;
}

#choose-black {
	background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bp.png");
	background-color: $chess-white;
}
