.choose-an-opponent {
	color: $chess-black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	width: 320px;
	padding-top: 8%;
	margin: 0 auto 12% auto;
	height: 20%;
}

.new-game-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	min-height: 100vh;
}

#engine-choice {
	width: 75%;
	margin: 0 auto;
}

.choose-engine {
	margin: 10px 0;
}

.engine-name {
	color: rgb(50, 50, 50);
	font-size: 28px;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
	i {
		margin-right: 10px;
	}
}

.engine-description {
	ul {
		margin: 0;
	}
}

.hide-this {
}

