.choose-an-opponent {
	color: $chess-black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	width: 320px;
	padding-top: 8%;
	margin: 0 auto 12% auto;
	height: 20%;
}

.new-game-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	min-height: 100vh;
}

#engine-choice {
	width: 75%;
	margin: 0 auto;
}

.choose-engine {
	margin: 10px 0;
}

.engine-name {
	color: rgb(50, 50, 50);
	font-size: 28px;
	font-weight: bold;

	i {
		margin-right: 10px;
	}
}

.engine-description {
	ul {
		margin: 0;
	}
}

.hide-this {
}

.chess-button {
	background-color: $chess-black;
	color: rgb(230, 230, 230);
	
	display: flex;
	justify-content: space-around;
	align-items: center;

	border-radius: $border-radius;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.back-home-button {
	width: 75%;
	padding: 10px 30px;

	margin: 0 auto 20px auto;

	font-size: 25px;
	font-weight: bold; 
	color: $chess-black;

	display: flex;
	justify-content: space-around;
	align-items: center;

	text-decoration: underline;
}

.play-button {
	width: 70%;
	font-size: 20px;
	font-weight: bold; 
	height: 50px;

	margin-top: 10px;
	margin-left: 40.5px;
}

.new-multiplayer-game {
	width: 70%;
	font-size: 20px;
	font-weight: bold; 
	height: 50px;
	
	margin: 20px auto;
}