.board-filter {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.promotion-prompt {
  z-index: 2;
  width: 70vmin;
  height: 20%;
  background-color: #769656;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
}

.promote-button {
  background-color: #EEEED2;
  padding: 0.25vmin;
  width: 12.5vmin;
  height: 12.5vmin;
  z-index: 3;
  border-radius: 2px;
  img {
    width: 12.5vmin;
    height: 12.5vmin;  
    z-index: 3;
  }
}
