table {
  border-collapse: collapse;
  margin: 0px auto;
}

html {
  @media (min-width: 768px) {
    table {
      height: 768px;
      width: 768px;
    }
  }
  @media (max-width: 768px) {
    table {
      height: 100vw;
      width: 100vw;
    }
  }
}

.board-container {
}

#chess-board {
  tr {
    td {
      background-size: contain;
    }
  }
}

.white {
  background-color: #EEEED2;
}

.black {
  background-color: #769656;
}

.white-square-highlight {
  background-color: #F7F783;
}

.black-square-highlight {
  background-color: #BACB44;
}
