table {
  border-collapse: collapse;
  margin: 0px auto;
  max-height: 768px;
  max-width: 768px;
  width: calc(100vmin - 36px);
  height: calc(100vmin - 36px);
}

.board-container {
}

#chess-board {
  tr {
    td {
      background-size: contain;
    }
  }
}

.white {
  background-color: #EEEED2;
}

.black {
  background-color: #769656;
}

.white-square-highlight {
  background-color: #F7F783;
}

.black-square-highlight {
  background-color: #BACB44;
}
