table {
  border-collapse: collapse;
  margin: 0px auto;
}

html {
  @media (min-width: 768px) {
    table {
      height: 768px;
      width: 768px;
    }
  }
  @media (max-width: 768px) {
    table {
      height: 100vw;
      width: 100vw;
    }
  }
}

.board-container {
  position: relative;
}

.board-filter {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.promotion-prompt {
  z-index: 2;
  width: 70vmin;
  height: 20%;
  background-color: #769656;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
}

.promote-button {
  background-color: #EEEED2;
  padding: 0.25vmin;
  width: 12.5vmin;
  height: 12.5vmin;
  z-index: 3;
  border-radius: 2px;
  img {
    width: 12.5vmin;
    height: 12.5vmin;  
    z-index: 3;
  }
}

.promote-to-knight {
}
.promote-to-bishop {
}
.promote-to-rook {
}
.promote-to-queen {
}

#chess-board {
  tr {
    td {
      background-size: contain;
    }
  }
}

.white {
  background-color: #EEEED2;
}

.black {
  background-color: #769656;
}

.white-square-highlight {
  background-color: #F7F783;
}

.black-square-highlight {
  background-color: #BACB44;
}
