.bp {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bp.png");
}
.bn {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bn.png");
}
.bb {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bb.png");
}
.br {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/br.png");
}
.bq {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bq.png");
}
.bk {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/bk.png");
}
.wp {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wp.png");
}
.wn {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wn.png");
}
.wb {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wb.png");
}
.wr {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wr.png");
}
.wq {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wq.png");
}
.wk {
  background-image: url("http://images.chesscomfiles.com/chess-themes/pieces/neo/96/wk.png");
}
