<div id="lower-menu" class="std-box">
  <div><%= link_to "Go back home", home_path %></div>
  <% if @game.black == current_user %>
	  <div>Plaing as <strong>black</strong></div>
  <% elsif @game.white == current_user %>
	  <div>Plaing as <strong>white</strong></div>
  <% end %>
  <div class="turn-player">
    <%= @white_to_move ? "White" : "Black" %> to move
  </div>
  <div>Black: <%= @game.black.email rescue "" %></div>
  <div>White: <%= @game.white.email rescue "" %></div>
</div>